{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{response.files.append(URL('static','js/Canvasjs.min.js'))}}
{{response.files.append(URL('static','js/Chart.js'))}}
{{response.files.append(URL('static','js/rso.js'))}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<button type="button" class="btn btn-primary btn-primary-outline" style="width: 100px" onClick="showColumnChart()">Słupkowy</button>
<button type="button" class="btn btn-success btn-secondary-outline" style="width: 100px" onClick="ShowPieChart()">Kołowy</button>

<div>
    <canvas id="columnChart" width="200" height="200"></canvas>
</div>
  <div id="pieChart" style="height: 500px; width: 50%;"></div>

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Wybierz dane do statystyk:")}}
  </div>

    <li class="list-group-item">
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:400px">
            Kandydat
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Name 1</a><br />
            <a class="dropdown-item" href="#">Name 2</a><br />
            <a class="dropdown-item" href="#">Name 3</a><br />
          </div>
        </div>
    </a></li>
    <li class="list-group-item">
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:400px">
            OKRĘG
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Place 1</a><br />
            <a class="dropdown-item" href="#">Place 2</a><br />
            <a class="dropdown-item" href="#">Place 3</a><br />
          </div>
        </div>
    </a></li>
     <li class="list-group-item">
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:400px">
            PŁEĆ
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">K</a><br />
            <a class="dropdown-item" href="#">M</a><br />
          </div>
        </div>
    </a></li>
     <li class="list-group-item">
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:400px">
            WYKSZTAŁCENIE
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">education 1</a><br />
            <a class="dropdown-item" href="#">education 2</a><br />
          </div>
        </div>
    </a></li>
</div>



{{end}}
