{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{response.files.append(URL('static','js/Canvasjs.min.js'))}}
{{response.files.append(URL('static','js/Chart.js'))}}
{{response.files.append(URL('static','js/rso.js'))}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}
<div class="charts">

<div class="canvas_holder">
    <canvas id="columnChart" width="960px" height="340px" style="width: 960px; height: 340px; display: none;"></canvas>   
    <canvas id="pieChart"  width="150px" height="50%" style="height: 300px; width: 50%; display: none;" ></canvas>
    <canvas id="mixedColumnChart" width="960px" height="340px" style="width: 960px; height: 340px; display: none;"></canvas>
</div>


{{block right_sidebar}}
<div id="partyPanel" class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">
      {{=T("Wybierz partie")}}
    </h3></div>
  <div id="partyBlock" class="panel-body">
  </div>
</div>

<div id="sexPanel" class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">
      {{=T("Wybierz płeć")}}
    </h3></div>
  <div id="sexBlock" class="panel-body">
  </div>
</div>

{{end}}
</div>
<div id="candidates">
  
</div>
